//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/
// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

h3 {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.25;
  margin-bottom: 1rem;
}

p {
	margin-bottom: 1rem;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
